<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>index</title>
  <link rel="stylesheet" href="../css/lib.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../js/lib.js" defer="true"></script>
  <script src="../js/app.js" defer="true"></script>
</head>
<body class="buy">
  <div class="header">
    <div class="return" onclick="history.go(-1)">
      <span class="chevron-right"></span>返回
    </div>
    <div class="page-title">Dr.Drink商品详情</div>
  </div>
  <div class="owl-carousel owl-theme">
    <img src="../images/sample1.jpg" alt="">
    <img src="../images/sample2.jpg" alt="">
    <img src="../images/sample3.jpg" alt="">
    <img src="../images/sample4.jpg" alt="">
  </div>
  <div class="info">
    <div class="title">Dr.Drink今日推荐：Old Pete Whiskey</div>
    <div class="sales-status">已销售 1000 件</div>

  <div class="choose-menu">
    <div class="row">
      <div class="col-4">
        <div class="item active" data-price="299" data-old="399">商品A</div>
      </div>
      <div class="col-4">
        <div class="item" data-price="199" data-old="299">商品B</div>
      </div>
      <div class="col-4">
        <div class="item" data-price="299" data-old="499">商品C</div>
      </div>
      <div class="col-4">
        <div class="item" data-price="599" data-old="799">商品D</div>
      </div>
    </div>
  </div>
  </div>
  <div class="purchase-button">
    <div class="price">
      <div class="now">
        <strong>299</strong>元
      </div>
      <div class="old">
        <small>399</small>元
      </div>
    </div>
    <button class="weui_btn weui_btn_primary">立即购买</button>
  </div>
  <article class="weui_article">
    <h2>商品详情</h2>
    <section>
      <h3 class="title">1、商品描述</h3>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>
    <section>
      <h3 class="title">2、商品快照</h3>
      <img src="../images/sample5.jpg" alt="">
      <img src="../images/sample6.jpg" alt="">
    </section>
  </article>
</body>
</html>
